<a href="https://colab.research.google.com/github/fereshtehdehkhoda/Example-26-qsec-less-than-mean-cylinder-6-or-8/blob/main/qsec_kamtar_az_mean_ba_cyl_6_ya_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#چند درصد خودروهای با qsec زیر میانگین،  6 یا 8 سیندر هستند؟

In [ ]:
import pandas as pd
import numpy as np
import statistics as stat

In [ ]:
data=pd.read_csv("mtcars.csv")

In [ ]:
df=data.loc[data['qsec']<stat.mean(data['qsec']),:]
df
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 0 to 30
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vehicle  17 non-null     object
 1   mpg      17 non-null     float64
 2   cyl      17 non-null     int64
 3   disp     17 non-null     float64
 4   hp       17 non-null     int64
 5   drat     17 non-null     float64
 6   wt       17 non-null     float64
 7   qsec     17 non-null     float64
 8   vs       17 non-null     int64
 9   am       17 non-null     int64
 10  gear     17 non-null     int64
 11  carb     17 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 1.7+ KB

In [ ]:
df1=df.loc[(df['cyl']==6) | (df['cyl']==8),:]
df1
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, 0 to 30
Data columns (total 12 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vehicle  15 non-null     object
 1   mpg      15 non-null     float64
 2   cyl      15 non-null     int64
 3   disp     15 non-null     float64
 4   hp       15 non-null     int64
 5   drat     15 non-null     float64
 6   wt       15 non-null     float64
 7   qsec     15 non-null     float64
 8   vs       15 non-null     int64
 9   am       15 non-null     int64
 10  gear     15 non-null     int64
 11  carb     15 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 1.5+ KB

In [ ]:
percentage=(15/17)*100

percentage

88.23529411764706